
body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr; 
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
}

.github-icon {
    
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
}

.left-box {
    background-color: gray;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    margin: 10px;
}



.right-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}

.square1,
.square2,
.square3 {
    background-color: gray;
    aspect-ratio: 1;
}



.bottom-rectangle1,
.bottom-rectangle2 {
    background-color: gray;
    height: 100px; 
    margin: 5px 10px; 
    padding: 10px;
}

